.gradle
/build/
/.project
/.classpath
/.idea/
/.settings/
/bin/
/model_invalidInput.dot
/export.pdf
/src/test/java/de/featjar/feature/model/visualization/model.pdf
/src/main/java/de/featjar/feature/model/analysis/visualization/Testtmp.java
